In [1]:
from lstore.db import Database
from lstore.table import Table

Initialize a database

In [2]:
db = Database()
print("database:", db)

database: <lstore.db.Database object at 0x00000209615476D0>

Creating tables for database

In [3]:
db.create_table('Grades', 5, 0)
db.create_table("students", 5, 0)
db.create_table("Class", 5, 0)
db.create_table("GPA", 5, 0)
print("database:", db.tables)

database: [<lstore.table.Table object at 0x0000020961546800>, <lstore.table.Table object at 0x0000020961546EC0>, <lstore.table.Table object at 0x0000020961547850>, <lstore.table.Table object at 0x0000020961547AF0>]

Get a database table by name

In [4]:
table1 = db.get_table("Grades")
print(table1)
print("table name:", table1.name)

<lstore.table.Table object at 0x0000020961546800>
table name: Grades

In [5]:
table2 = db.get_table("GPA")
print(table2)
print("table name:", table2.name)

<lstore.table.Table object at 0x0000020961547AF0>
table name: GPA

In [7]:
#test case sensitivity
table3 = db.get_table("students")
print(table3)

<lstore.table.Table object at 0x0000020961546EC0>

In [9]:
table4 = db.get_table("GPA")
print(table4)

<lstore.table.Table object at 0x0000020961547AF0>

Drop database table by name

In [11]:
#test case sensitivity
db.drop_table("grades")

Could not delete table grades

In [ ]:
db.drop_table("Students")

In [ ]:
db.drop_table("Grades")

In [ ]:
print(db.tables)
db.get_table("students")
db.get_table("Grades")

[<lstore.table.Table object at 0x00000273B50E47D0>, <lstore.table.Table object at 0x00000273B50E4ED0>, <lstore.table.Table object at 0x00000273B50E4C10>]

Exception: Table Grades not found, could not get

In [ ]:
db.drop_table("students")
db.drop_table("Class")
db.drop_table("GPA")
print("database:", db.tables)

database: []