In [1]:
from lstore.db import Database
from lstore.table import Table

Initialize a database

In [2]:
db = Database()
print("database:", db)

database: <lstore.db.Database object at 0x00000273B50C7710>

Creating tables for database

In [3]:
db.create_table('Grades', 5, 0)
db.create_table("students", 5, 0)
db.create_table("Class", 5, 0)
db.create_table("GPA", 5, 0)
print("database:", db.tables)

database: [<lstore.table.Table object at 0x00000273B50E45D0>, <lstore.table.Table object at 0x00000273B50E47D0>, <lstore.table.Table object at 0x00000273B50E4ED0>, <lstore.table.Table object at 0x00000273B50E4C10>]

Get a database table by name

In [4]:
table1 = db.get_table("Grades")
print(table1)
print("table name:", table1.name)

<lstore.table.Table object at 0x00000273B50E45D0>
table name: Grades

In [5]:
table2 = db.get_table("GPA")
print(table2)
print("table name:", table2.name)

<lstore.table.Table object at 0x00000273B50E4C10>
table name: GPA

In [6]:
#test case sensitivity
table3 = db.get_table("Students")
print(table3)

Exception: Table Students not found, could not get

In [ ]:
table4 = db.get_table("gpa")
print(table4)

In [ ]:
# test table that does not exist
table5 = db.get_table("ECS165A")
print(table5)

Drop database table by name

In [ ]:
#test case sensitivity
db.drop_table("grades")

In [ ]:
db.drop_table("Students")

In [7]:
db.drop_table("Grades")

In [8]:
print(db.tables)
db.get_table("students")
db.get_table("Grades")

[<lstore.table.Table object at 0x00000273B50E47D0>, <lstore.table.Table object at 0x00000273B50E4ED0>, <lstore.table.Table object at 0x00000273B50E4C10>]

Exception: Table Grades not found, could not get

In [9]:
db.drop_table("students")
db.drop_table("Class")
db.drop_table("GPA")
print("database:", db.tables)

database: []